html {
  width: 100%;
  height: 100%;
  background-color: black;
  color: floralwhite;
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

head {
  width: 100%;
  height: 100%;
  background-color: black;
  text-align: center;
}

button {
  background-color: #001141;
  color: floralwhite;
  border: 2px solid orange;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}
button:hover {
  transition: 1000ms;
  padding: 10px 50px;
  transform: translateY(-0px);
  background-color: #001141;
  color: floralwhite;
  border: solid 4px orange;
}

input[type="text"] {
  height: 2px;
  width: 480px;
  padding: 10px;
  border: 2px solid orange;
  border-radius: 5px;
}

iframe {
  border: 2px solid aqua;
  border-radius: 10px;
}

#Aluben {
  font-size: 50px;
  color: #001191;
  text-decoration: underline;
}
img {
  height: 100px;
  color: #001191;
}
#txt {
  font-size: 23px;
  color: honeydew;
}
script {
  background-size: cover;
  color: white;
  position: absolute;
  width: 350px;
  border-radius: 5px;
  left: 50%;
  margin-left: -160px;
  padding: 16px 8px 8px;
  box-sizing: border-box;
}

select {
  background-color: #001141;
  border: 2px solid orange;
  color: floralwhite;
}

input {
  background-color: black;
  color: floralwhite;
}
